body{
    background-image: url(../images/country-quilt.png);
    margin: 0;
    padding: 1px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    vertical-align: middle;
    line-height: 1.5;
    color: #777777;
}
*{
    margin: 0;
}

h1, h2, h3, h4, h5{
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    width: 100%;
    border-bottom: #777777 solid 2px;
    margin: 0 auto;
}

input[type=submit]{
    background-color: #4aaaa5;
    padding: 10px 20px;
    margin: auto;
    color: #ffffff;

}

img{
    width: 200px;
    height: auto;
    margin-bottom: 0;
}

.name{
    background-color: #4aaaa5;
    padding: 25px;
    width: fit-content;
    color: #ffffff;
    margin: 0;
    border: none;
       
}

.header-links{
        float: right;
}

.header-link {
    background: green;
    border: 1px black solid;
    padding: 0 4px;
}

.container{
    width: 930px;
    margin: 0 auto;
    background: #ffffff;
    padding: 15px;
}

.main{
    margin-top: 25px;
    overflow: auto;
}

.header, header{
    background: #ffffff;
    border-bottom: 4px solid #cccccc;
}
p{
    margin-bottom: 10px;
    
}
.head-shot{
    float: left;
    margin-right: 5px;
}

.wrapper{
    min-height: 100%;
    padding: 50px;
    margin-bottom: -50px;
}

.push{
    height: 20px;
}


.footer, footer{
    height: 80px;
    border-top: 8px solid #4aaaa5;
    background: #666666;
    line-height: 75px;
    text-align: center;
    color: #ffffff;
    vertical-align: bottom;
    width: 100%;
    margin-top: 20px;

}

.text-block{
    background-color: #4aaaa5;
    padding: 0px;
    width: 200px;
    height: 2em;
    color: #ffffff;
    margin: 0;
    border: none;
    text-align: center;
    vertical-align: middle;
}